body {
    font-family: Sevillana;
    height: 100%;
    margin: 0 auto;
}

.mainWrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
a {
    text-decoration: none;
    color: #666;
}

.contentWrapper {
    min-height: 85vh;
    padding: 0 10px;
}

.headerWraper {
    display: flex;
    justify-content:space-between;
    background-color: firebrick;
    height: 60px;
    padding: 0 10px;
}

.headerWraper > div {
    line-height: 50px;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

.footerWraper {
    display: flex;
    justify-content: space-between;
    background-color: firebrick;
    height: 78px;
    padding: 0 10px;
}

.iconsWrap {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.footerWraper > div {
    line-height: 70px;
}